.header-back {
  position: absolute;
  top: -56px;
  right: 0;
  width: 50%;
  height: calc(100% + 56px + 72px);

  svg {
    position: absolute;
    right: 0;
    top: 100px;
    max-width: calc(100% - 32px);
  }
  .header-back__img {
    position: relative;
    z-index: 100;
    max-width: 650px;
    width: 75%;
    margin-top: 10%px;
  }
  @media (max-width: 960px) {
    width: 100%;
    height: calc(100% + 56px);
    svg {
      top: unset;
      bottom: 8%;
    }
    .header-back__img {
      position: absolute;
      width: 75%;
      bottom: -100px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media (max-width: 720px) {
    .header-back__img {
      position: absolute;
      width: 100%;
      bottom: -100px;
      left: 50%;
      transform: translateX(-50%);
    }
    svg {
      bottom: -5%;
    }
  }
}

/* HEADER */
.header {
  padding-top: 100px;
  color: $c-dark;

  #mc-embedded-subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #mc-embedded-subscribe-form > .btn {
    margin: 40px 0 12px;
  }
  #mc-embedded-subscribe-form > span {
    color: $c-dark;
  }
}
.header-inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  // margin-bottom: 200px;
  .cloudimage-360 {
    margin: -160px 0 -128px;
    max-width: calc(100% - 468px);
  }
}
.header-left {
  width: 468px;
}
.header-left h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin: 0 0 8px 0;
}
.header-left p {
  font-size: 21px;
  line-height: 30px;
  margin: 0 0 40px 0;
}

@media (max-width: 1280px) {
  .header {
    padding-top: 64px;
  }
  .header-inner {
    margin: 0 8%;
    .cloudimage-360 {
      margin: -96px 0 -96px;
      max-width: calc(100% - 468px);
    }
  }
  .header-left h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .header-left p {
    display: none;
  }
}
@media (max-width: 960px) {
  .header {
    position: relative;
    padding: 50px 0 0;
    margin-bottom: 64px;
  }
  .header-inner {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cloudimage-360 {
      max-width: unset;
      margin: -64px 0;
    }
  }
  .header-left {
    text-align: center;
    width: 534px;
  }
  #mc-embedded-subscribe-form {
    align-items: center;
  }
  .header-form > span {
    color: #a2a8be;
  }
}
@media (max-width: 720px) {
  .header {
    padding: 30px 0;
  }
  .header-left {
    padding: 8px 16px 0;
    width: 100%;
  }
  .header-left h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .header-left p {
    display: block;
    font-size: 18px;
    line-height: 24px;
  }
  #mc-embedded-subscribe-form span {
    max-width: 250px;
  }
}

.advantages {
  max-width: 1200px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 96px auto;
}

@media (max-width: 1280px) {
  .advantages {
    margin: 96px 8%;
  }
}
.advantages .card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 32px 48px;
  width: calc(100% / 3);
  height: 160px;
  cursor: pointer;
  transition: all 0.3s;
}
.advantages .card:hover {
  transform: scale(1.1);
}
.advantages .card:nth-child(2) {
  margin: 0 24px;
}
.card-top {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #19191b;
  margin-bottom: 6px;
}
.card-top__logo {
  width: 36px;
  height: 36px;
  margin-right: 18px;
}
.card > p {
  color: #19191b;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 960px) {
  .advantages {
    margin: 96px 24px 80px;
    flex-wrap: wrap;
  }
  .advantages .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
  }
  .advantages .card:nth-child(2) {
    margin: 24px 0;
  }
}
@media (max-width: 720px) {
  .advantages {
    margin: 96px 24px 46px;
    flex-wrap: wrap;
  }
}

footer.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $c-dark;
  height: 131px;
}
.footer .footer__logo {
  width: 136px;
  height: 28px;
}
