/* NAVIGATION */
.nav {
  position: relative;
  padding: 23px 0 0;
}
.nav-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.nav__logo {
}
.nav-content {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.nav-content__mob {
  display: none;
}
.nav-content a {
  color: #fff;
  text-decoration: none;
  margin-right: 32px;
  display: block;
  font-weight: 500;
}
.nav-btn {
  display: none;
  margin-left: auto;
  background: none;
  border: none;
  width: 18px;
  height: 12px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .nav-inner {
    margin: 0 8%;
  }
}
@media (max-width: 960px) {
  .nav-inner {
    margin: 0 54px;
  }
}
@media (max-width: 720px) {
  .nav-btn {
    display: block;
  }
  .nav-content {
    display: none;
  }
  .nav-content__mob {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    &.active {
      display: block;
    }
  }
}
